:root{
    --little-space:1rem;
    --normal-space:2rem;
    --medium-space:4rem;
    --large-space:8rem;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding:0;
    margin:0;
}
.container{
    min-width:1172px;
}
/****************************************** flex ******************************************/
.flex-container{
    display:flex;
}
.align-vertical{
    align-items: center;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.spc-btw{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.row-2rem-gap{
    row-gap: var(--normal-space);
}

/****************************************** width ******************************************/
.w100pc{
    width: 100%;
}
.w80pc{
    width:80%;
}
.w70pc{
    width:70%;
}
.w60pc{
    width:60%;
}
.w50pc{
    width: 50%;
}
.w40pc{
    width:40%;
}
.w33pc{
    width:calc(100% / 3);
}
.w30pc{
    width:30%;
}
.w8rem{
    width:8rem;
}
.w7rem{
    width:7rem;
}
.w4rem{
    width:4rem;
}
/****************************************** padding ******************************************/
.p1rem{
    padding:var(--little-space);
}
.p2rem{
    padding:var(--normal-space);
}
.p2rem-top{
    padding-top:var(--normal-space);
}
.p2rem-left-right{
    padding-left:2rem;
    padding-right:2rem;
}
.p2rem-bottom{
    padding-bottom:2rem;
}
.p1rem-bottom{
    padding-bottom: var(--little-space);
}
/****************************************** margin ******************************************/
.m1-bottom{
    margin-bottom:var(--little-space);
}
.m1-top{
    margin-top:var(--little-space);
}
.m2-bottom{
    margin-bottom:var(--normal-space);
}
.m2-top{
    margin-top:var(--normal-space);
}
.m4-bottom{
    margin-bottom:var(--medium-space);
}
.m4-top{
    margin-top:var(--medium-space);
}
.m1-top-bottom{
    margin-top:var(--little-space);
    margin-bottom:var(--little-space);
}
.m2-top-bottom{
    margin:var(--normal-space) 0;
}
.m4-top-bottom{
    margin:var(--medium-space) 0;
}
.m-auto{
    margin: auto;
}
/****************************************** headers ******************************************/
h1{
    font-size: 4.5rem;
    font-weight:900;
}
h2{
    font-size:var(--normal-space);
    font-weight:700;
}
h3{
    font-size:1.5rem;
}
/****************************************** hr ******************************************/
hr{
    height:1px;
    border:none;
    background-color:black;
}
hr.grey{
    background-color: rgba(128, 128, 128, 0.56);
}
/****************************************** commons ******************************************/
.bkg-white{
    background-color:white;
}
.txt-align-center{
    text-align: center;
}
.brown{
    color:rgb(97, 8, 43);
}
.font-size-3rem{
    font-size: 3rem;
}
.fixed{
    position:fixed;
    width:100%;
    z-index: 999;
    top:0;
}
.cta{
    background-color: rgb(0, 97, 255);
    text-decoration: none;
    color:white;
    padding:0.5rem 1rem;
    display: inline-block;
    cursor: pointer;
}
.cta-white{
    color:black;
    border:solid black 1px;
    background-color: white;
}
.no-border{
    border:none;
}

/****************************************** navbar *****************************************/
.navbar-container{
    color:rgb(139, 139, 139);
    height:100%;
    display:flex;
    align-items:center;
    padding:var(--little-space);
    cursor: pointer;
    border-bottom:white solid 1px;
}
.navbar-container:hover{
    border-bottom:black solid 1px;
}
.navbar{
    justify-content: space-between;
    background-color: white;
    min-width:1172px;
}
[alt="jumbo"]{
    width:110%;
    margin-bottom:-5rem;
}
/****************************************** jumbotron ******************************************/
.jumbotron{
    background-color: rgb(180, 208, 231);
    padding-top:var(--medium-space);
    margin-bottom:var(--large-space);

}
/****************************************** plan ******************************************/
label{
   margin-right: var(--normal-space);     
}
.card-box{
    width:calc((100% - 3rem) / 3);
    border:solid black 1px;
         
}
.no-border.card-box{
    border:none;
}
.w100pc.card-box{
    width:100%;
}
.plan{
    margin-bottom:var(--large-space);
}
.type{
    text-align: center;
    padding:0.5rem;
    border-bottom:solid black 1px;
}
.per-month{
    color:grey;
}
.plan .feature{
    gap:0.5rem;
}
.feature>.icon{
    width:var(--little-space);
}
.feature>.blue{
    color:rgb(7, 97, 255)
}
.feature>.description{
    width:calc(100% - 1.5rem)
}
/****************************************** partner ******************************************/
.partner{
    margin-bottom:var(--large-space);
}
/****************************************** card ******************************************/

.card{
    margin-bottom: var(--large-space);
}

/****************************************** brand ******************************************/

.preBrand{
    margin-bottom: var(--large-space);
}
.postBrand{
   background-color: rgb(180, 208, 231);
   padding:var(--large-space) 0;
}
.heigth-company{
    height:calc(100vw / 6);
    min-height: 197px;
}
@supports (aspect-ratio:1){
    .height-company{
        aspect-ratio: 1;
    }
}
.brand .green{
    background-color: rgb(162, 211, 155);
}
.brand .brown{
    background-color:rgb(97, 8, 43);
}
.brand .sky-blue{
    background-color: rgb(0, 147, 206);
}
.brand .vibrant-red{
    background-color: rgb(255, 28, 28);
}
.brand .red{
    background-color: rgb(213, 0, 31);
}
.brand .light-blue{
    background-color: rgb(180, 208, 231);
}
.brand .blue{
    background-color: rgb(13, 36, 129);
}
.brand .yellow{
    background-color: rgb(255, 216, 48);
}
[alt="company"]{
    filter: brightness(0) invert(1);
}
.mid-section{
    background-color: rgb(245, 245, 245);   
}

/****************************************** color hover ******************************************/
.brand .green:hover{
    border:1rem rgb(209, 233, 205) solid;
}
.brand .brown:hover{
    border:1rem rgb(144, 30, 93) solid;
}
.brand .sky-blue:hover{
    border:1rem rgb(47, 169, 255) solid;
}
.brand .vibrant-red:hover{
    border:1rem rgb(255, 50, 78) solid;
}
.brand .red:hover{
    border:1rem rgb(255, 22, 81) solid;
}
.brand .light-blue:hover{
    border:1rem rgb(227, 230, 255) solid;
}
.brand .blue:hover{
    border:1rem rgb(60, 58, 179) solid;
}
.brand .yellow:hover{
    border:1rem rgb(255, 238, 98) solid;
}
/****************************************** faq ******************************************/
.faq{
    padding:var(--large-space) 0;
}
.questions{
    padding-top:3rem;
    padding-bottom:3rem;
    cursor:default;
}
.hidden{
    display: none;
}
.questions:hover + .hidden{
    display:block;
}
.questions:hover .fa-chevron-down{
    transform: rotate(180deg);
}
/****************************************** footer ******************************************/
footer{
    background-color: black;
    color:white;
    padding-top:var(--medium-space);
    min-width:1172px;
}
.footer-sezioni{
    width:calc((100% - var(--little-space)) / 5);
}
.lingua{
    color:grey;
}