:root{
    --normal-space:2rem;
    --medium-space:4rem;
    --large-space:8rem;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding:0;
    margin:0;
}
.container{
    width:100%;
}
.flex-container{
    display:flex;
}
.spc-btw{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.fixed{
    position:fixed;
    width:100%;
    z-index: 999;
    top:0;
}
.cta{
    background-color: rgb(0, 97, 255);
    text-decoration: none;
    color:white;
    padding:0.5rem 1rem;
    display: inline-block;
}
.cta-white{
    color:black;
    border:solid black 1px;
    background-color: white;
    cursor: pointer;
}
.no-border{
    border:none;
}
.m-auto{
    margin: auto;
}
.w100pc{
    width: 100%;
}
.w70pc{
    width:70%;
}
.w60pc{
    width:60%;
}
.w50pc{
    width: 50%;
}
.w40pc{
    width:40%;
}
.w33pc{
    width:calc(100% / 3);
}
.w30pc{
    width:30%;
}
.w8rem{
    width:8rem;
}
.w4rem{
    width:4rem;
}
.p1rem{
    padding:1rem;
}
.p1rem-bottom{
    padding-bottom: 1rem    ;
}
.p2rem-bottom{
    padding-bottom:2rem;
}
.m1-bottom{
    margin-bottom:1rem;
}
.m2-bottom{
    margin-bottom:var(--normal-space);
}
.m4-bottom{
    margin-bottom:var(--medium-space);
}
.m1-top-bottom{
    margin:1rem 0;
}
.m2-top-bottom{
    margin:var(--normal-space) 0;
}
.m4-top-bottom{
    margin:var(--medium-space) 0;
}
h1{
    font-size: 4.5rem;
    font-weight:800;
}
h2{
    font-size:var(--normal-space);
    font-weight:700;
}
h3{
    font-size:1.5rem;
}
hr{
    height:1px;
    border:none;
    background-color:black;
}
.bkg-white{
    background-color:white;
}
.align-vertical{
    align-items: center;
}
.txt-align-center{
    text-align: center;
}
.brown{
    color:rgb(97, 8, 43);
}
hr.grey{
    background-color: rgba(128, 128, 128, 0.56);
}
.font-size-3rem{
    font-size: 3rem;
} 

/******************************************** debug *********************************************/


/****************************************** navbar *****************************************/
.navbar-container{
    color:rgb(139, 139, 139);
    height:100%;
    display:flex;
    align-items:center;
    padding:1rem;
    cursor: pointer;
    border-bottom:white solid 1px;
}
.navbar-container:hover{
    border-bottom:black solid 1px;
}
.navbar{
    justify-content: space-between;
    background-color: white;
    width:100vw;
}
[alt="jumbo"]{
    width:110%;
    margin-bottom:-5rem;
}
/****************************************** jumbotron *********************************/
.jumbotron{
    background-color: rgb(180, 208, 231);
    padding-top:var(--medium-space);
    margin-bottom:var(--large-space);

}
/******************************* plan *******************************/
label{
   margin-right: var(--normal-space);     
}
.card-box{
    width:calc((100% - 5rem) / 3);
    border:solid black 1px;
         
}
.w100pc.card-box{
    width:100%;
}
.plan{
    margin-bottom:var(--large-space);
}
.type{
    text-align: center;
    padding:0.5rem;
    border-bottom:solid black 1px;
}
.per-month{
    color:grey;
}
.plan .feature{
    gap:0.5rem;
}
.feature>.icon{
    width:1rem;
}
.feature>.blue{
    color:rgb(7, 97, 255)
}
.feature>.description{
    width:calc(100% - 1.5rem)
}
/*************************** partner ************************/
.partner{
    margin-bottom:var(--large-space);
}
/************************** card *****************************/

.card{
    margin-bottom: var(--large-space);
}

/************************** brand **************************/

.preBrand{
    margin-bottom: var(--large-space);
}
.postBrand{
   background-color: rgb(180, 208, 231);
   padding:var(--large-space) 0;
}
/*************************** faq ********************************/
.faq{
    padding:var(--large-space) 0;
}
.questions{
    padding:var(--normal-space) 0;
}
/************************** footer **************************/
footer{
    background-color: black;
    color:white;
    padding-top:var(--medium-space);
}
.footer-sezioni{
    width:calc((100% - 1rem) / 5);
}